@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

nav {
    height: auto;
}

nav li {
    padding: 6px 12px;
}

.logo {
    font-size: 28px;

}
.logo a {
    text-decoration: none;
}

#main {
    padding: 0px;
}

#preview-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.preview-card {
    background-color: var(--pico-off-color);
    width: 45%;
    margin: 8px;
    padding: 24px;
    border-radius: 16px;
}

#footer {
    background-color: var(--pico-off-color);
}

#footer p {
    text-align: center;
    margin: 0;
}