@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

nav {
    height: auto;
}

nav li {
    padding: 6px 12px;
}

.logo {
    font-size: 28px;

}
.logo a {
    text-decoration: none;
}

#main {
    padding: 0px;
}

#hero {
    height: 40vh;
    max-height: 256px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--pico-off-color);
}

#hero-div {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#hero-heading-container {
    width: 100%;
    text-align: center;
}

#hero-input-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

#hero-search {
    margin: auto 0;
}

#hero-input-container i {
    margin: auto 0 auto 12px;
}

#featured-heading-div {
    align-content: center;
    text-align: center;
}

#featured-clubs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.featured-club {
    background-color: var(--pico-off-color);
    border-radius: 0.5rem;
    padding: 16px;
    margin: 12px;
    width: 30%;
    height: 50%;
    text-align: center;
    
}

#create-section {
    background-color: var(--pico-off-color);
    height: 25vh;
    
}
#create-section-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#create-section-heading {
    width: 60%;
    text-align: center;
    margin-bottom: 24px;
}

#upcoming-activities-heading {
    text-align: center;
}

.activity {
    background-color: var(--pico-off-color);
    padding: 24px;
    margin: 16px 0;
    border-radius: 8px;
}

.upcoming-activity-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.upcoming-activity-name, .upcoming-activity-club {
    width: 50%;
}

.upcoming-activity-club {
    text-align: right;
}

#footer {
    background-color: var(--pico-off-color);
}
#footer p {
    text-align: center;
    margin: 0;
}