#main {
    padding-block: 0px;
    height: 100vh;
}

#back-button {
    margin: 12px;
}

#create-section {
height: 100%;
width: 100%;
display: flex;
align-items: top;
}

#create-container {
    margin:   0 auto;
    padding: 24px;
    background-color: var(--pico-off-color);
    height: fit-content;
    width: 60%;
    border-radius: 16px;
}

#label {
    font-weight: 600;
}